// .navbar .nav-link {
// @include mac{
//   border-bottom: 0px;
//   }
// }
// *{
//   outline: 1px solid white;
// }

.loginIcon {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
.modal__container {
  max-width: 350px;
  margin: 0 auto;
}
.footer {
  box-sizing: border-box;
}
