// .navbar .nav-link {
// @include mac{
//   border-bottom: 0px;
//   }
// }
// *{
//   outline: 1px solid white;
// }
.navbar-nav {

    --bs-nav-link-color: var(--bs-white);
    --bs-nav-link-hover-color: var(--bs-primary);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
}

.loginIcon {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
.modal__container {
  max-width: 350px;
  margin: 0 auto;
}
.footer {
  box-sizing: border-box;
}
