// .progressBar__stage {
//    &:nth-of-type(2){
//           &::after{
//             color: var(--bs-primary);
//           }
//    }
// }
.creditCard {
  max-width: 416px;
  margin: 0 auto;

  .btn {
    @include mac {
      max-width: 168px;
    }
  }
}
