.subTitle__square {
  height: 3px;
  width: 50px;
}
.subTitle__square--inactive {
  background: var(--bs-logo);
  height: 3px;
  width: 50px;
}

@mixin icon-gradient {
  background: linear-gradient(
    180deg,
    var(--bs-info) 0%,
    var(--bs-primary) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.z-index-21 {
  z-index: 21;
}
.card__avatar {
  width: 100px;
  height: 100px;
}

.banner {
  background-image: url(../images/bg_home_mobile.jpg);
  background-position: center;
  background-size: cover;
  .row {
    height: 336px;
  }
  @include pad {
    background-image: url(../images/bg_home.jpg);
    .row {
      height: 680px;
    }
  }
  &__title---gradient {
    background: linear-gradient(
      180deg,
      var(--bs-info) 0%,
      var(--bs-primary) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__squares {
    li {
      height: 10px;
      width: 10px;
      background: #fff;
    }
  }
}
.advantages {
  .bg-lg-secondary {
    &:hover {
      background: var(--bs-poster);
      color: white;
      outline: 1px solid var(--bs-primary);
    }
  }
  .bg-lg-secondary:hover .material-icons {
    @include icon-gradient;
  }
  .material-icons {
    @include icon-gradient;
    @include mac {
      // color: var(--bs-logo);
      background: none;
      background-clip: none;
      -webkit-text-fill-color: var(--bs-logo);
    }
  }
}

.process {
  &__card__title {
    z-index: 20;
    height: 56px;
    left: 40px;
    top: -32px;
  }
}

.courses {
  .bg-secondary:hover {
    outline: 1px solid var(--bs-primary);
  }
}

.strength___card {
  li {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:not(:hover) {
      &::after {
        position: absolute;
        content: "";
        display: block;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 20;
      }
    }
    &:hover {
      .material-icons {
        @include icon-gradient;
      }
      .subTitle__square {
        background: var(--bs-primary);
      }
    }

    &:first-child {
      background-image: url(../images/info01.jpg);
    }
    &:nth-child(2) {
      background-image: url(../images/info02.jpg);
    }
    &:nth-child(3) {
      background-image: url(../images/info03.jpg);
    }
    &:nth-child(4) {
      background-image: url(../images/info04.jpg);
    }
  }
}

.article {
  &__cube {
    width: 32px;
    height: 32px;
    &:first-of-type {
      border-top-left-radius: 13px;
    }
    &:nth-of-type(2) {
      border-top-right-radius: 13px;
    }
    &:nth-of-type(3) {
      border-bottom-left-radius: 13px;
    }
    &:last-of-type {
      border-bottom-right-radius: 13px;
    }
  }
  article:hover {
    .article__cube {
      display: block;
    }
  }
}

.reviews {
  --swiper-pagination-bullet-horizontal-gap: 0;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-color: #{$primary};
  --swiper-pagination-bullet-inactive-color: #{$primary};

  @include pad {
    background: url(../images/bg_share.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__swiper__img {
    &::before {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      display: block;
      content: "";
      border: 1px solid white;

      border-radius: 2rem;
    }
  }
  &__swiper__img__position {
    position: relative;
    top: -10px;
    left: 10px;
  }

  &__swiper__content__position {
    @include pad {
      bottom: -48px;
    }
  }
  &__swiper__content {
    border-radius: 32px 32px 32px 0px;
    padding: 24px;
    padding-top: 0px;
    color: #494755;
    background: #ffff;
    @include pad {
      padding: 32px;
      padding-top: 0px;
    }
  }
  legend {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 20;
    @include pad {
      width: 100px;
      height: 100px;
    }
  }
  &__swiper__content__avatar {
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    @include pad {
      width: 100px;
      height: 100px;
    }
  }
  &__swiper__pagination {
    display: flex;
    align-items: center;
    color: var(--bs-primary);
    width: 150px;
    li {
      &:first-child {
        margin-right: 18px;
      }
      &:last-child {
        margin-left: 18px;
      }
    }
  }
  .swiper-pagination-bullet-active {
    --swiper-pagination-bullet-width: 1rem;
    border-radius: 25px;
  }
}

// .join.container {
//   max-width: 966px;
// }
