.subTitle__square {
  // background: var(--bs-primary);
  height: 3px;
  width: 50px;
}
.subTitle__square--inactive {
  background: var(--bs-logo);
  height: 3px;
  width: 50px;
}

@mixin icon-gradient {
  background: linear-gradient(
    180deg,
    var(--bs-info) 0%,
    var(--bs-primary) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// .icon-gradient {
//  @include icon-gradient;
// }

// .moreBtn {
//   z-index: 20;
//   right: 0px;
//   bottom: 0px;
// }

.z-index-21 {
  z-index: 21;
}
.card__avatar {
  width: 100px;
  height: 100px;
}

.banner {
  background-image: url(../images/bg_home_mobile.jpg);
  background-position: center;
  background-size: cover;
  .row {
    height: 336px;
  }
  @include pad {
    background-image: url(../images/bg_home.jpg);
    .row {
      height: 680px;
    }
  }
  &__title---gradient {
    background: linear-gradient(
      180deg,
      var(--bs-info) 0%,
      var(--bs-primary) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__squares {
    li {
      height: 10px;
      width: 10px;
      background: #fff;
    }
  }
}
.advantages {
  .bg-lg-secondary {
    &:hover {
      background: var(--bs-poster);
      color: white;
      outline: 1px solid var(--bs-primary);
    }
  }
  .bg-lg-secondary:hover .material-icons {
    @include icon-gradient;
  }
  .material-icons {
    @include icon-gradient;
    @include mac {
      // color: var(--bs-logo);
      background: none;
      background-clip: none;
      -webkit-text-fill-color: var(--bs-logo);
    }
  }
}

.process {
  &__card__title {
    z-index: 20;
    height: 56px;
    left: 40px;
    top: -32px;
  }
}

.courses {
  .bg-secondary:hover {
    outline: 1px solid var(--bs-primary);
  }
}

.strength___card {
  li {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-blend-mode: multiply;
    // background-color: rgba(128, 127, 127);
    &:not(:hover) {
      &::after {
        position: absolute;
        content: "";
        display: block;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 20;
      }
    }
    &:hover {
      .material-icons {
        @include icon-gradient;
      }
      .subTitle__square {
        background: var(--bs-primary);
      }
    }

    // &::after :hover{
    //   content:'';
    //   display: none;
    // }
    &:first-child {
      // background-image: url(../images/info01.jpg)  ;
      // background-color: rgba(0, 0, 0, 0.3);
      background-image: url(../images/info01.jpg);

      // backdrop-filter: grayscale(80%);
    }
    &:nth-child(2) {
      background-image: url(../images/info02.jpg);
    }
    &:nth-child(3) {
      background-image: url(../images/info03.jpg);
    }
    &:nth-child(4) {
      background-image: url(../images/info04.jpg);
    }
  }
}

.article {
  &__cube {
    width: 32px;
    height: 32px;
    &:first-of-type {
      border-top-left-radius: 13px;
    }
    &:nth-of-type(2) {
      border-top-right-radius: 13px;
    }
    &:nth-of-type(3) {
      border-bottom-left-radius: 13px;
    }
    &:last-of-type {
      border-bottom-right-radius: 13px;
    }
  }
  article:hover {
    .article__cube {
      display: block;
    }
  }
}

.reviews {
  --swiper-pagination-bullet-horizontal-gap: 0;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-color: #{$primary};
  --swiper-pagination-bullet-inactive-color: #{$primary};
  .container {
    max-width: 900px;
  }

  @include pad {
    background: url(../images/bg_share.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__swiper__img {
    object-fit: cover;
    margin-bottom: 45px;
    border: 1px solid #ffff;
    // border-image-outset: 10px -10px;
    @include pad {
      max-width: 525px;
    }
  }
  &__swiper__content {
    position: relative;
    border-radius: 32px 32px 32px 0px;
    padding: 24px;
    background: #ffff;
    @include pad {
      margin-top: -160px;
      max-width: 416px;
      float: right;
    }
    // @include mac{
    //   margin-top: 251px;
    // }
  }
  &__swiper__content__color {
    color: #494755;
  }
  &__swiper__content__avater {
    position: absolute;
    width: 80px;
    height: 80px;
    right: 24px;
    object-fit: cover;
    border-radius: 50%;
    top: -40px;
    z-index: 20;
  }
  &__swiper__pagination {
    margin-top: 32px;
    display: flex;
    align-items: center;
    color: var(--bs-primary);
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    li {
      // display: block;
      // margin-right: 8px;
      &:first-child {
        margin-right: 18px;
      }
      &:last-child {
        margin-left: 18px;
      }
    }
    @include mac {
      margin-top: -24px;
      margin-left: 170px;
    }
  }
  .dot {
    display: block;
    width: 8px;
    height: 8px;
    background: var(--bs-primary);
    border-radius: 50%;
  }
  .round {
    width: 16px;
    border-radius: 20% 20% 20% 20%;
  }
  .swiper-pagination-bullet-active {
    --swiper-pagination-bullet-width: 1rem;
    border-radius: 25px;
  }
}
// .section--testimonial {
//   background-size: contain;
//   background-position: center;
//   background-repeat: no-repeat;
//   @include media-breakpoint-up(lg) {
//     background-image: url('../images/bg_share.jpg');
//   }
// }

// .swiper--function {
//   --swiper-pagination-bullet-horizontal-gap: 0;
//   --swiper-pagination-bullet-width: 1rem;
//   --swiper-pagination-bullet-inactive-opacity: 1;
//   --swiper-pagination-color: #{$primary};
//   --swiper-pagination-bullet-inactive-color: #{$primary};
//   left: 24px;
//   right: 24px;
//   @include media-breakpoint-up(lg) {
//     position: absolute;
//     bottom: 0;
//     right: 47.25%;
//     z-index: 1;
//   }
//   @include media-breakpoint-up(xl) {
//     right: 45.75%;
//   }
//   .swiper-pagination-bullet {
//     border-radius: 1em;
//     --swiper-pagination-bullet-width: .5rem;
//     transition: width 0.3s;
//     &.swiper-pagination-bullet-active {
//       --swiper-pagination-bullet-width: 1rem;
//     }
//   }
// }
.join.container {
  max-width: 966px;
}
