.progressBar {
  @include mac {
    height: 88px;
  }
  .progress {
    height: 1px;
  }
  &__stage {
    width: 20px;
    height: 20px;
    line-height: 1;
    color: white;
    &:first-of-type {
      &::after {
        position: absolute;
        writing-mode: horizontal-tb;
        font-size: 16px;
        width: 80px;
        top: 28px;
        left: -30px;
        content: "課程報名";
        color: inherit;
      }
    }
    &:nth-of-type(2) {
      &::after {
        position: absolute;
        writing-mode: horizontal-tb;
        font-size: 16px;
        width: 80px;
        top: 28px;
        left: -30px;
        content: "信用卡付款";
        color: inherit;
      }
    }
    &:last-of-type {
      &::after {
        position: absolute;
        writing-mode: horizontal-tb;
        font-size: 16px;
        width: 80px;
        top: 28px;
        left: -30px;
        content: "付款成功";
        color: inherit;
      }
    }
  }
  &__stage.active {
    color: var(--bs-primary);
  }
}

.triangle {
  width: 0px;
  height: 0px;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid var(--bs-secondary);
  @include mac {
    display: none;
  }
}
.triangle-lg {
  display: none;
  width: 0px;
  height: 0px;
  border-right: 12px solid var(--bs-secondary);
  border-left: 12px solid transparent;
  border-top: 12px solid transparent;
  @include mac {
    display: block;
  }
}

.intro {
  @include mac {
    position: absolute;
    max-width: 416px;
    top: 220px;
    right: 800px;
    z-index: 20;
    &::after {
      content: "";
      position: absolute;
      top: 150px;
      right: -13px;
      width: 0px;
      height: 0px;
      border-left: 12px solid var(--bs-secondary);
      border-bottom: 12px solid transparent;
      border-top: 12px solid transparent;
    }
  }
}

.signUp {
  @include mac {
    max-width: 856px;
    flex-grow: 1;
    margin-bottom: 144px;
  }
  .container {
    max-width: 710px;
    margin-right: auto;
    margin-left: auto;
  }
  .btn {
    @include mac {
      max-width: 168px;
    }
  }
}

// datepicker

.datepicker-cell {
  color: black;
  &:not(.disabled):hover {
    background-color: var(--bs-primary);
    color: white;
    cursor: pointer;
  }

  &.focused:not(.selected) {
    // background-color: $dp-cell-focus-background-color;
    background-color: var(--bs-primary);
    color: white;
  }

  &.selected {
    &,
    &:hover {
      background-color: var(--bs-primary);
      color: white;
      // background-color: $dp-cell-selected-background-color;
      // color: $dp-cell-selected-color;
      // font-weight: $dp-cell-selected-font-weight;
    }
  }
}
